@import 'base.less';
@import 'common.less';

.container{
  width:100%;
}
.header{
  width:100%;
  min-width:1200px;
  height:130px;
}
.header>a{
  width:69%;
  display:inline-block;
}
.header>a img:first-child{
  margin:.2rem 5% 0 12%;
}
.header>a img:last-child{
  margin-top:.1rem;
}
.header>img {
  margin-right: .4rem;
}
.nav{
  width:100%;
  height:50px;
  background:#000;
  position:relative;
}
.nav .nav-ul{
  width:1200px;
  margin: 0 auto;
  height:50px;
}
.nav .nav-ul>li{
  width:200px;
  float:left;
  height:50px;
  position:relative;
}
.nav .nav-ul>li a{
  color:#fff;
  display:inline-block;
  font-size: 14px;
  height: 50px;
  line-height:47px;
  width:100%;
  text-align: center;
  border-top:3px solid transparent;
  .transition(all,0.4s,linear);
}
.nav .nav-ul>li>a:hover{
  background:#111;
  color: @orange;
  border-top-color: @orange;
}
.nav .nav-ul>li a.actived{
  background:#111;
  color: @orange;
  border-top-color: @orange;
}
.nav{
  .nav-show-content{
    position: absolute;
    top:50px;
    width:1200px;
    height:150px;
    background: @bgbase;
    z-index:9999;
    border:2px solid @orange;
    border-top:none;
    display:none;
    .nav-show-left{
      width:60%;
      display:inline-block;
      height:100px;
      margin-top: 30px;
      margin-left:8%;
      vertical-align: middle;
      h3{
        font-size:18px;
        font-weight: 600;
        display: block;
      }
      ul.nav-show-nav{
        height:40px;
        margin-top: 20px;
        li{
          float:left;
          width:120px;
          height:40px;
          margin-right:20px;
          line-height: 40px;
          a{
            border:1px solid @orange;
            display: block;
            width:120px;
            height:40px;
            line-height: 40px;
            text-align: center;
            color:@orange;
            font-size: 0.14rem;
            &:hover{
              background:@orange;
              color:#fff;
            }
          }
        }
      }
    }
    .nav-show-right{
      display: inline-block;
      width:250px;
      height:120px;
      margin-left:30px;
      position: relative;
      top:10px;
      img{
        width:100%;
        height:100%;
      }
    }
  }
}

.banner{
  width:100%;
  position: relative;
  #slider{width:100%;background:url(../images/loading.gif) no-repeat 50% 50%;}
  #slider img {position:absolute;top:0px;left:0px;display:none;}
  .nivo-controlNav{position:absolute;left:45%;bottom:3px;}
  .nivo-controlNav a {display:block;width:22px;height:22px;background:url(../images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;}
  .nivo-controlNav a.active {background-position:0 -22px;}
  .nivo-directionNav a {display:block;width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-9999px;border:0;}
  a.nivo-nextNav {background-position:-30px 0;right:15px;}
  a.nivo-prevNav {left:15px;}
  .nivo-caption {text-shadow:none; font-family: Helvetica, Arial, sans-serif;}
  .nivo-caption a {color:#efe9d1;text-decoration:underline;}
}

.lend-container{
  position: absolute;
  right:100px;
  top:50px;
  width:300px;
  height:400px;
  z-index: 500;
  background:#fff;
  opacity: 0.2;
  &:hover{
    opacity: 1;
  }
  .border-radius-custom (@topleft: 10px, @topright: 10px, @bottomleft: 0px, @bottomright: 0px);
  .lend-container-title{
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    font-size: 24px;
    width:100%;
    background:#EB8932;
    .border-radius-custom (@topleft: 10px, @topright: 10px, @bottomleft: 0px, @bottomright: 0px);
  }
  .lend-container-body{
    border:1px solid #CCCCCC;
    border-top:none;
    height:350px;
    form{
      width:210px;
      margin:0 auto;
      padding-top:30px;
      .form-group{
        padding-bottom:10px;
        label{
          width:100%;
          font-size:16px;
          padding-bottom:10px;
          a{
            margin-top:8px;
          }
        }
      }
      .btn-center{
        width:100%;
        text-align: center;
      }
      .btn-center{
        margin-top:50px;
      }
    }
  }
}

.content-container{
  width:100%;
  margin:0 auto 0;
  padding:0;
  .container-part1{
    .part1-top{
      width:900px;
      height:205px;
      margin:20px auto;
      padding-top:90px;
      background:url(../images/title-bg1.png) no-repeat center top;
      h3{
        font-size:28px;
        text-align:left;
        padding-left:160px;
        color:#fff;
      }
      h4{
        font-size:20px;
        color:#fff;
        padding:10px 0 0 150px;
      }
    }
    .part1-box{
      width:998px;
      margin:0 auto;
      height:370px;
      background: url(../images/part1-box1.png) no-repeat top center;
      .part1-box-pcontent{
        width:700px;
        height:280px;
        margin-left:70px;
        padding-top:60px;
        p{
          font-size:18px;
          color:#3a87ad;
          i{
            color:@orange;
          }
        }
      }
    }
    .part1-bottom{
      background: url("../images/part1-info2.png") no-repeat left top;
      width:800px;
      height:170px;
      margin:-10px auto 0;
      padding-left:120px;
      padding-top:40px;
      h4{
        color:#e4303c;
        font-size:20px;
        font-weight: 700;
        margin-bottom:10px;
      }
      h3{
        color:#e4303c;
        font-size: 24px;
        font-weight: 700;
        padding-left:80px;
        margin-top:30px;
      }
    }
  }
  .container-part2{
    width:1200px;
    margin:60px auto;
    .part2_container{
      width:100%;
      height:600px;
      margin-top:40px;
      .item-img,.msg-content{
        width:300px;
        height:300px;
        vertical-align: middle;
        float:left ;
      }
      .item-img{
        position: relative;
        .item-cover{
          width:300px;
          height:300px;
          background:rgba(3,3,3,0);
          position: absolute;
          top:0;
          left:0;
          z-index: 2;
          .transition(all,100ms,ease-in-out);
          div{
            width:100%;
            margin:60px auto 30px;
            text-align: center;
            opacity: 0;
            .transition(all,300ms,100ms,linear);
            a{
              font-size:26px;
              color:#9ec0d2;
              &:hover
              {color:#e4393c;}
            }
          }
          p.line{
            opacity: 0;
            width:100%;
            text-align: center;
            .transition(all,200ms,100ms,linear);
            b{
              display: block;
              margin:0 auto;
              width:0px;
              .transition(all,200ms,200ms,ease-out);
              border:1px solid #fff;
            }
          }
          p.center-line{
            opacity: 0;
            display: block;
            margin:20px 0;
            width:100%;
            .transition(all,200ms,100ms,linear);
            a{
              color:#fff;
              display: block;
              text-align: center;
              margin: 0 auto;
              font-size:14px;
              &:hover{
                color:#e4303c;
              }
            }
          }
          &:hover{
            background:rgba(3,3,3,0.9);
            div{
              opacity: 1;
            }
            p.line,p.center-line{
              opacity: 1;
            }
            p.line{
              b{
                width:250px;
              }
            }
          }
        }

      }
      .msg-content{
        padding-top:20px;
        a{
          display: block;
          width:100%;
          text-align:center;
          color:#9ec0d2;
          font-size:18px;
          margin:40px 0 30px ;
          &:hover{
            color:#e4303c;
          }
          i{
            margin-right:15px;
          }
        }
        div{
          padding:0 30px;
          p{
            font-size:14px;
            padding-bottom:10px;
            color: #9ec0d2;
          }
        }
        label{
          display: block;
          a{
            text-align: left;
            padding-left:30px;
          }
        }
      }
    }
  }
  .part_title{
    text-align:center;
    margin:10px 0 40px;
    h3{
      span:first-child{
        color:#5A5A5A;
        font-size:37px;
        display: inline-block;
        margin-right:30px;
        font-weight: 700;
      }
      span:last-child{
        color:#000;
        font-size:37px;
        font-weight: 400;
        text-shadow: 1px 1px 2px #000;
      }
    }
    h4{
      margin:10px 0;
      font-size:20px;
    }
    h5{
      font-size:16px;
      font-style: italic;
    }
  }
  .container-part3{
    .part3_container{
      width:1200px;
      margin:40px auto;
      .news-content{
        width:600px;
        padding-left:40px;
        padding-right:40px;
        float: left;
        margin-bottom:20px;
        .part3_img_content{
          overflow: hidden;
          img{
            .transition(all,300ms,0s,linear);
            &:hover{
              transform: scale(1.05);
            }
          }
        }
        .part3_mgs_content{
          div{
            width:520px;
            text-indent: 20px;
            font-size:14px;
            color:#2a6496;
          }
        }
      }
    }
    .part3_news{
      clear: both;
      width:100%;
      height:300px;
      min-width: 1200px;
      background: #ededed;
      .news_part_content{
        width:1200px;
        margin:0 auto;
        height:300px;
        .news_part{
          width:400px;
          height: 300px;
          padding-top:50px;
          float:left;
          h3{
            padding:0 30px;
            position: relative;
            margin-bottom: 20px;
            a{
              position: absolute;
              font-size:14px;
              right:50px;
              bottom:0px;

            }
          }
          div{
            width:390px;
            text-align: center;
            p{
              padding-bottom:10px;
              padding-left:30px;
              text-align: left;
              a{
                font-size:16px;
                color:#333;
                span{
                  padding-right:10px;
                }
                b{
                  width:0px;
                  height:17px;
                  border-left:1px solid #333;
                  display: inline-block;
                  margin-right: 10px;
                  vertical-align:middle;
                }
              }
            }
          }
          #slider1{
            width:300px;
            height:160px;
            margin-left:25px;
            position:relative;
            overflow:hidden;
            #slider1_imgs {
              position:absolute;
              top: 0;  left: 0;
              height:160px;
              li{
                float:left;
                z-index:0;
                &:hover{
                  background: @orange;
                }
              }
            }
            #slider1_index{
              position:absolute;
              bottom:15px;
              right:30px;
              li{
                width: 20px;
                height: 10px;
                display: inline-block;
                background: #fff;
                /*    border-radius: 50%;*/
                text-align: center;
                cursor: pointer;
                margin-left:5px;
                &:hover{
                  background: orange;
                }
              }
            }
          }
        }
      }
    }
  }
  .container-part4{
    padding-top:30px;
    .part4-content{
      width:100%;
      text-align:center;
      padding-bottom:20px;
    }
    .foot_kb{
      position:relative;
      width:1000px;
      margin:30px auto 15px;
      overflow:hidden;
      ul{
        li{
          float:left;
          display:block;
          width:195px;
          margin-right:50px;
          height:220px;
          cursor:pointer;
          overflow:hidden;
          b{
            display:block;
            width:195px;
            height:220px;
            -webkit-transform: translatey(0);
            -moz-transform: translatey(0);
            -ms-transform: translatey(0);
            -o-transform: translatey(0);
            transform: translatey(0);
            .transition(all,300ms,0s,linear);
          }
          span{
            display:block;
            width:195px;
            height:220px;
            -webkit-transform: translatey(0);
            -moz-transform: translatey(0);
            -ms-transform: translatey(0);
            -o-transform: translatey(0);
            transform: translatey(0);
            .transition(all,300ms,0s,linear);
          }
          b.kb_1{
            background:url(../images/kb.png) no-repeat 0 0;
          }
          b.kb_2{
            background:url(../images/kb.png) no-repeat -195px 0;
          }
          b.kb_3{
            background:url(../images/kb.png) no-repeat -390px 0;
          }
          b.kb_4{
            background:url(../images/kb.png) no-repeat -590px 0;
          }
          span.kbg_1{
            background:url(../images/kb.png) no-repeat 0 -216px;
          }
          span.kbg_2{
            background:url(../images/kb.png) no-repeat -195px -216px;
          }
          span.kbg_3{
            background:url(../images/kb.png) no-repeat -395px -216px;
          }
          span.kbg_4{
            background:url(../images/kb.png) no-repeat -590px -216px;
          }
          &:hover{
            span,b{
              -webkit-transform: translatey(-220px);
              -moz-transform: translatey(-220px);
              -ms-transform: translatey(-220px);
              -o-transform: translatey(-220px);
              transform: translatey(-220px);
            }
          }
        }
      }
    }
    .foot_describe{
      width:1000px;
      height:30px;
      margin:10px auto 0;
      li{
        float:left;
        color:#C6A16A;
        width:195px;
        text-align:center;
        font-size:20px;
        margin-right:55px;
      }
    }
  }
  .container-part5{
    padding-top:60px;
    width:1200px;
    padding-left:50px;
    margin:0 auto;
    .map{
      width:700px;
      height:350px;
      border:5px solid orange;
      border-radius: 10px;
      display:inline-block;
      vertical-align: middle;
    }
    .map-msg{
      width:400px;
      height:350px;
      display: inline-block;
      vertical-align:middle;
      padding-top:50px;
      .map-msg-group{
        width:250px;
        margin:0 auto 20px;
        p:first-child{
          i{
            margin-right:10px;
          }
          color:@orange;
          font-size:20px;
          padding-bottom:10px;
        }
        p:last-child{
          font-size:16px;
        }
      }

    }
  }
}

.footer{
  margin-top:50px;
  width:100%;
  height:200px;
  background:#000000;
  padding-top:10px;
  .footer-part1{
    width:1200px;
    height:150px;
    margin:20px auto 0;
    .footer-part1-left{
      width:600px;
      height:120px;
      padding-top:10px;
      .footer-right{
        text-align:right;
        display: inline-block;
        padding-top:18px;
        font-size:16px;
        color:@orange;
        font-weight: 700;
        margin-right:20px;
      }
      .footer-right-img{
        display: inline-block;
        margin:0 10px;
      }
    }
  }
  .footer-part2{
    width:1200px;
    margin:-15px auto 0;
    text-align:center;
    span{
      color:#fff;
    }
  }
}
