html {
  font-size: 100px;
}
body {
  line-height: 1.4;
  color: #333;
  font-family: arial;
  font-size: 12px;
  font-size: .12rem;
  background: white;
}
* {
  box-sizing: border-box;
}
input,
textarea,
select {
  font-size: 12px;
  font-size: 100%;
  font-family: arial;
  font-family: inherit;
}
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
h4,
h5,
h6 {
  font-size: .1em;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
/*image with no-border*/
a img {
  border: 0;
}
img {
  border: 0;
}
textarea {
  resize: none;
  overflow: auto;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.before {
  content: "";
  display: block;
}
.after {
  content: "";
  display: block;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-algin: right;
}
/*overflow: hidden和white-space: nowrap都是必须的否则不会显示省略号；-o-text-overflow: ellipsis针对Opera；而宽度的设定主要是针对IE6；
*/
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
html,
body {
  min-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*相关尺寸*/
.mr5 {
  margin-right: 0.05rem;
}
.ml5 {
  margin-left: 0.05rem;
}
.mt5 {
  margin-top: 0.05rem;
}
.mb5 {
  margin-bottom: 0.05rem;
}
.mr10 {
  margin-right: 0.1rem;
}
.ml10 {
  margin-left: 0.1rem;
}
.mt10 {
  margin-top: 0.1rem;
}
.mb10 {
  margin-bottom: 0.1rem;
}
.mr20 {
  margin-right: 0.2rem;
}
.ml20 {
  margin-left: 0.2rem;
}
.mt20 {
  margin-top: 0.2rem;
}
.mb20 {
  margin-bottom: 0.2rem;
}
.mr30 {
  margin-right: 0.3rem;
}
.ml30 {
  margin-left: 0.3rem;
}
.mt30 {
  margin-top: 0.3rem;
}
.mb30 {
  margin-bottom: 0.3rem;
}
.font12 {
  font-size: 0.12rem;
}
.font14 {
  font-size: 0.14rem;
}
.font15 {
  font-size: 0.15rem;
}
.font16 {
  font-size: 0.16rem;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.baseline {
  vertical-align: baseline;
}
.middle {
  vertical-align: middle;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.container {
  width: 100%;
}
.header {
  width: 100%;
  min-width: 1200px;
  height: 130px;
}
.header > a {
  width: 69%;
  display: inline-block;
}
.header > a img:first-child {
  margin: .2rem 5% 0 12%;
}
.header > a img:last-child {
  margin-top: .1rem;
}
.header > img {
  margin-right: .4rem;
}
.nav {
  width: 100%;
  height: 50px;
  background: #000;
  position: relative;
}
.nav .nav-ul {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
}
.nav .nav-ul > li {
  width: 200px;
  float: left;
  height: 50px;
  position: relative;
}
.nav .nav-ul > li a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 50px;
  line-height: 47px;
  width: 100%;
  text-align: center;
  border-top: 3px solid transparent;
  -webkit-transition: all 0.4s linear linear;
  -moz-transition: all 0.4s linear linear;
  -o-transition: all 0.4s linear linear;
  -ms-transition: all 0.4s linear linear;
  transition: all 0.4s linear linear;
}
.nav .nav-ul > li > a:hover {
  background: #111;
  color: #eb8932;
  border-top-color: #eb8932;
}
.nav .nav-ul > li a.actived {
  background: #111;
  color: #eb8932;
  border-top-color: #eb8932;
}
.nav .nav-show-content {
  position: absolute;
  top: 50px;
  width: 1200px;
  height: 150px;
  background: #fff;
  z-index: 9999;
  border: 2px solid #eb8932;
  border-top: none;
  display: none;
}
.nav .nav-show-content .nav-show-left {
  width: 60%;
  display: inline-block;
  height: 100px;
  margin-top: 30px;
  margin-left: 8%;
  vertical-align: middle;
}
.nav .nav-show-content .nav-show-left h3 {
  font-size: 18px;
  font-weight: 600;
  display: block;
}
.nav .nav-show-content .nav-show-left ul.nav-show-nav {
  height: 40px;
  margin-top: 20px;
}
.nav .nav-show-content .nav-show-left ul.nav-show-nav li {
  float: left;
  width: 120px;
  height: 40px;
  margin-right: 20px;
  line-height: 40px;
}
.nav .nav-show-content .nav-show-left ul.nav-show-nav li a {
  border: 1px solid #eb8932;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #eb8932;
  font-size: 0.14rem;
}
.nav .nav-show-content .nav-show-left ul.nav-show-nav li a:hover {
  background: #eb8932;
  color: #fff;
}
.nav .nav-show-content .nav-show-right {
  display: inline-block;
  width: 250px;
  height: 120px;
  margin-left: 30px;
  position: relative;
  top: 10px;
}
.nav .nav-show-content .nav-show-right img {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
  min-height: 520px;
  max-height: 520px;
  position: relative;
}
.banner #slider {
  width: 100%;
  background: url(../images/loading.gif) no-repeat 50% 50%;
}
.banner #slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  height: 520px;
}
.banner .nivo-controlNav {
  position: absolute;
  left: 600px;
  bottom: 3px;
}
.banner .nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}
.banner .nivo-controlNav a.active {
  background-position: 0 -22px;
}
.banner .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}
.banner a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}
.banner a.nivo-prevNav {
  left: 15px;
}
.banner .nivo-caption {
  text-shadow: none;
  font-family: Helvetica, Arial, sans-serif;
}
.banner .nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
.lend-container {
  position: absolute;
  right: 100px;
  top: 50px;
  width: 300px;
  height: 400px;
  z-index: 500;
  background: #fff;
  opacity: 0.2;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
.lend-container:hover {
  opacity: 1;
}
.lend-container .lend-container-title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  width: 100%;
  background: #EB8932;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
.lend-container .lend-container-body {
  border: 1px solid #CCCCCC;
  border-top: none;
  height: 350px;
}
.lend-container .lend-container-body form {
  width: 210px;
  margin: 0 auto;
  padding-top: 30px;
}
.lend-container .lend-container-body form .form-group {
  padding-bottom: 10px;
}
.lend-container .lend-container-body form .form-group label {
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
}
.lend-container .lend-container-body form .form-group label a {
  margin-top: 8px;
}
.lend-container .lend-container-body form .btn-center {
  width: 100%;
  text-align: center;
}
.lend-container .lend-container-body form .btn-center {
  margin-top: 50px;
}
.content-container {
  width: 1200px;
  margin: 0 auto 0;
  padding: 0;
}
.content-container .container-part1 .part1-top {
  width: 900px;
  height: 205px;
  margin: 20px auto;
  padding-top: 90px;
  background: url(../images/title-bg1.png) no-repeat center top;
}
.content-container .container-part1 .part1-top h3 {
  font-size: 28px;
  text-align: left;
  padding-left: 160px;
  color: #fff;
}
.content-container .container-part1 .part1-top h4 {
  font-size: 20px;
  color: #fff;
  padding: 10px 0 0 150px;
}
.content-container .container-part1 .part1-box {
  width: 998px;
  margin: 0 auto;
  height: 370px;
  background: url(../images/part1-box1.png) no-repeat top center;
}
.content-container .container-part1 .part1-box .part1-box-pcontent {
  width: 700px;
  height: 280px;
  margin-left: 70px;
  padding-top: 60px;
}
.content-container .container-part1 .part1-box .part1-box-pcontent p {
  font-size: 18px;
  color: #3a87ad;
}
.content-container .container-part1 .part1-box .part1-box-pcontent p i {
  color: #eb8932;
}
.content-container .container-part1 .part1-bottom {
  background: url("../images/part1-info2.png") no-repeat left top;
  width: 800px;
  height: 170px;
  margin: -10px auto 0;
  padding-left: 120px;
  padding-top: 40px;
}
.content-container .container-part1 .part1-bottom h4 {
  color: #e4303c;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.content-container .container-part1 .part1-bottom h3 {
  color: #e4303c;
  font-size: 24px;
  font-weight: 700;
  padding-left: 80px;
  margin-top: 30px;
}
.content-container .container-part2 {
  width: 100%;
  margin-top: 60px;
}
.content-container .container-part2 .part2_title {
  text-align: center;
}
.content-container .container-part2 .part2_title h3 span:first-child {
  color: #5A5A5A;
  font-size: 37px;
  display: inline-block;
  margin-right: 30px;
  font-weight: 700;
}
.content-container .container-part2 .part2_title h3 span:last-child {
  color: #000;
  font-size: 37px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000;
}
.content-container .container-part2 .part2_title h4 {
  margin: 10px 0;
  font-size: 20px;
}
.content-container .container-part2 .part2_title h5 {
  font-size: 16px;
  font-style: italic;
}
.content-container .container-part2 .part2_container {
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.content-container .container-part2 .part2_container .item-img,
.content-container .container-part2 .part2_container .msg-content {
  width: 300px;
  height: 300px;
  vertical-align: middle;
  float: left ;
}
.content-container .container-part2 .part2_container .item-img {
  position: relative;
}
.content-container .container-part2 .part2_container .item-img .item-cover {
  width: 300px;
  height: 300px;
  background: rgba(3, 3, 3, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 100ms ease-in-out linear;
  -moz-transition: all 100ms ease-in-out linear;
  -o-transition: all 100ms ease-in-out linear;
  -ms-transition: all 100ms ease-in-out linear;
  transition: all 100ms ease-in-out linear;
}
.content-container .container-part2 .part2_container .item-img .item-cover div {
  width: 100%;
  margin: 60px auto 30px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 300ms 100ms linear;
  -moz-transition: all 300ms 100ms linear;
  -o-transition: all 300ms 100ms linear;
  -ms-transition: all 300ms 100ms linear;
  transition: all 300ms 100ms linear;
}
.content-container .container-part2 .part2_container .item-img .item-cover div a {
  font-size: 26px;
  color: #9ec0d2;
}
.content-container .container-part2 .part2_container .item-img .item-cover div a:hover {
  color: #e4393c;
}
.content-container .container-part2 .part2_container .item-img .item-cover p.line {
  opacity: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 200ms 100ms linear;
  -moz-transition: all 200ms 100ms linear;
  -o-transition: all 200ms 100ms linear;
  -ms-transition: all 200ms 100ms linear;
  transition: all 200ms 100ms linear;
}
.content-container .container-part2 .part2_container .item-img .item-cover p.line b {
  display: block;
  margin: 0 auto;
  width: 0px;
  -webkit-transition: all 200ms 200ms ease-out;
  -moz-transition: all 200ms 200ms ease-out;
  -o-transition: all 200ms 200ms ease-out;
  -ms-transition: all 200ms 200ms ease-out;
  transition: all 200ms 200ms ease-out;
  border: 1px solid #fff;
}
.content-container .container-part2 .part2_container .item-img .item-cover p.center-line {
  opacity: 0;
  display: block;
  margin: 20px 0;
  width: 100%;
  -webkit-transition: all 200ms 100ms linear;
  -moz-transition: all 200ms 100ms linear;
  -o-transition: all 200ms 100ms linear;
  -ms-transition: all 200ms 100ms linear;
  transition: all 200ms 100ms linear;
}
.content-container .container-part2 .part2_container .item-img .item-cover p.center-line a {
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
}
.content-container .container-part2 .part2_container .item-img .item-cover p.center-line a:hover {
  color: #e4303c;
}
.content-container .container-part2 .part2_container .item-img .item-cover:hover {
  background: rgba(3, 3, 3, 0.9);
}
.content-container .container-part2 .part2_container .item-img .item-cover:hover div {
  opacity: 1;
}
.content-container .container-part2 .part2_container .item-img .item-cover:hover p.line,
.content-container .container-part2 .part2_container .item-img .item-cover:hover p.center-line {
  opacity: 1;
}
.content-container .container-part2 .part2_container .item-img .item-cover:hover p.line b {
  width: 250px;
}
.content-container .container-part2 .part2_container .msg-content {
  padding-top: 20px;
}
.content-container .container-part2 .part2_container .msg-content a {
  display: block;
  width: 100%;
  text-align: center;
  color: #9ec0d2;
  font-size: 18px;
  margin: 40px 0 30px ;
}
.content-container .container-part2 .part2_container .msg-content a:hover {
  color: #e4303c;
}
.content-container .container-part2 .part2_container .msg-content a i {
  margin-right: 15px;
}
.content-container .container-part2 .part2_container .msg-content div {
  padding: 0 30px;
}
.content-container .container-part2 .part2_container .msg-content div p {
  font-size: 14px;
  padding-bottom: 10px;
  color: #9ec0d2;
}
.content-container .container-part2 .part2_container .msg-content label {
  display: block;
}
.content-container .container-part2 .part2_container .msg-content label a {
  text-align: left;
  padding-left: 30px;
}
